.advantages {
  @media (min-width: $desktop-screen) {
    padding: 0 175px;
  }
}

.advantages__heading {
  @include fonts($main-font, 25px, 30px, $fontWeightBold, $color-text-bold);
  margin-bottom: 29px;
}

.advantages__list {
  @include lists;
  margin-bottom: 57px;

  @media (min-width: $tablet-screen) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 60px 100px;
    grid-auto-flow: column;
  }
}

.advantages__list-item {
  @include fonts($main-font, 17px, 118%, $fontWeightBold, $color-text-bold);
  padding-top: 54px;
  margin-bottom: 29px;
  line-height: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-screen) {
    font-size: 20px;
    line-height: 22px;
  }
}

.advantages__list-item--icon1 {
  background: url("../img/icons/icon-1-flowers.svg") no-repeat 0% 0%;
}

.advantages__list-item--icon2 {
  background: url("../img/icons/icon-2-tangle.svg") no-repeat 0% 0%;
}

.advantages__list-item--icon3 {
  background: url("../img/icons/icon-3-money.svg") no-repeat 0% 0%;
}

.advantages__list-item--icon4 {
  background: url("../img/icons/icon-4-rocket.svg") no-repeat 0% 0%;
}

.advantages__list-item--icon5 {
  background: url("../img/icons/icon-5-heart.svg") no-repeat 0% 0%;
}

.advantages__list-item--icon6 {
  background: url("../img/icons/icon-6-gift.svg") no-repeat 0% 0%;
}
