.contacts__heading {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #000000;
  padding-bottom: 28px;
}

.contacts__table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts__table-heading {
  @include fonts($main-font, 14px, 30px, 400, $color-text-regular);
  display: flex;
}

.contacts__table-email {
  @include fonts($main-font, 14px, 30px, 400, $color-text-regular);
  border-bottom: 1px solid $color-interactive-elements;
  width: 183px;
}

.contacts__map {
  position: relative;
}

.contacts__map-pin {
  position: absolute;
  top: 153px;
  right: 118px;
  width: 67px;
  height: 100px;
  background: url("../img/icons/map-pin.svg");
}
