.container {
  min-width: 320px;
  padding: 0 30px;
  // text-align: center;
  // ломается выравнивание менюкши
  @media (min-width: $tablet-screen) {
    min-width: 768px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-screen) {
    min-width: 1150px;
    margin: 0 auto;
    max-width: $desktop-screen;
  }
}
