.container {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;

  // @media (min-width: $tablet-screen) {
  //   width: $tablet-screen;
  //   padding: 0 50px;
  // }

  // @media (min-width: $desktop-screen) {
  //   width: $desktop-screen;
  // }
}
