.container {
  width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  // outline: 5px solid red;
  // outline-offset: -5px;
  // @media (min-width: 768px) {
  //   width: 768px;
  //   padding-left: 50px;
  //   padding-right: 50px;
  // }
  // @media (min-width: 1200px) {
  //   width: 1150px;
  //   padding-left: 50px;
  //   padding-right: 50px;
  // }
}
