.created-by-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.created-by-info__icon {
  width: 27px;
  height: 34px;
}

.created-by-info__text {
  @include fonts($main-font, 19px, 18px, $fontWeightBold, $color-text-bold);
  margin: 0;
  margin-right: 25px;
}

.created-by-info__link {
  @include fonts($main-font, 19px, 95%, $fontWeightBold, $color-text-bold);
  text-decoration: none;
  padding: 31px 0;
}

.created-by-info__link::after {
  position: absolute;
  content: "";
  width: 260px;
  height: 1px;
  top: -30px;
  left: -50px;
  background: $color-footer-mobile-line;
}
