// .header {
//   min-width: 320px;
//   min-height: 506px;
//   font-family: "Open Sans", sans-serif;
//   font-style: normal;
//   font-weight: 900;
//   font-size: 27px;
//   line-height: 111%;
//   display: flex;
//   align-items: center;
//   text-align: center;
//   color: #000000;
//   background-image: url(../../img/content/hero-mobile.jpg);
//   background-repeat: no-repeat;
//   background-size: auto;
//   margin-bottom: 31px;
// }

// .header__title {
//   margin-top: 73px;
//   margin-bottom: 120px;
//   font-family: "Open Sans", sans-serif;
//   font-style: normal;
//   font-weight: 900;
//   font-size: 27px;
//   line-height: 111%;
//   display: flex;
//   align-items: center;
//   text-align: center;
//   color: #000000;
// }

// .header__list {
//   padding: 0;
//   margin: 0;
//   list-style-type: none;
//   outline: 5px solid blue;
//   outline-offset: -5px;
// }

// .header__list-item {
//   display: block;
//   height: 103px;
//   outline: 5px solid green;
//   outline-offset: -5px;
// }
// .header__link {
//   font-family: "Open Sans", sans-serif;
//   font-style: normal;
//   font-weight: 900;
//   font-size: 19px;
//   line-height: 126%;
//   display: flex;
//   align-items: center;
//   color: #ffffff;
//   margin-top: 24px;
//   margin-right: auto;
//   margin-bottom: 31px;
//   margin-left: 30px;
// }
// .header__link--light-green {
//   background-color: #63d1bb;
// }

// .header__link--dark-green {
//   background-color: #56c3b2;
// }


.header {
  margin-bottom: 31px;
  background-color: $color-decoration-wave;
}

.header__title {
  padding: 73px 0 120px;
  font-size: 27px;
  text-align: center;
}

.header__title--image {
  background-image: url("../../img/content/hero-mobile.jpg");
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__list {
  @include lists();
}

.header__link {
  display: block;
  padding: 24px 132px 31px 30px;
  font-size: 19px;
  color: $color-white;
  text-decoration: none;
}

.header__link--interior {
  background: url("../../img/icons/interior.svg.png") no-repeat 90% 40%;
}

.header__link--toy {
  background: url("../../img/icons/toy-svg.svg") no-repeat 90% 40%;
}

.header__item:first-child {
  background-color: $color-accent;
}

.header__item:last-child {
  background-color: $color-accent-dark;
}
