.link-contact-button {
  @include fonts($main-font, 18px, 20px, 700, $color-text-regular);
  display: block;
  padding: 16px 38px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $color-text-regular;
}
