.main-navigation {
  margin-left: auto;
  position: relative;
}

.main-navigation__toggle {
  position: absolute;
  content: "";
  left: 215px;
  top: -50px;
  width: 20px;
  height: 14px;
  border: none;
  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: $color-text-bold;
    box-shadow: 0 6px 0 0 $color-text-bold;
    transition: all 0.4s cubic-bezier(0.1, 0.82, 0.76, 0.96);
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: $color-text-bold;
    transition: all 0.4s cubic-bezier(0.1, 0.82, 0.76, 0.96);
  }

  &:hover::after {
    content: "";
    position: absolute;
    top: 0;
    width: 21px;
    transform: rotate(45deg);
    box-shadow: none;
  }

  &:hover::before {
    content: "";
    position: absolute;
    top: 0;
    width: 21px;
    transform: rotate(-45deg);
  }
}

.main-navigation__list {
  @include lists();
}

.main-navigation__list-item {
  @include fonts($main-font, 17px, 24px, $fontWeightBold, $color-text-bold);
  width: 100%;
  position: relative;
  text-align: left;
  text-decoration: none;

  &:hover {
    color: $color-text-bold;
    background-color: $color-accent;
  }

  &:focus {
    color: $color-text-bold;
  }

  &:active {
    color: $color-text-bold;
  }
}

.main-navigation__list-item::after {
  position: absolute;
  content: "";
  border: 1px solid $color-footer-mobile-line;
  height: 1px;
  width: 180px;
  top: 0;
  left: 44px;
}

.main-navigation-user-list {
  @include lists();
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.main-navigation-user-list__list-item {
  position: relative;
}

.main-navigation-user-list__list-item::after {
  position: absolute;
  content: "";
  border: 1px solid $color-footer-mobile-line;
  height: 1px;
  width: 180px;
  top: 0;
  left: 44px;
}

.main-navigation-user-list__link {
  @include fonts($main-font, 17px, 24px, $fontWeightBold, $color-text-bold);
  display: block;
  padding-top: 28px;
  padding-bottom: 27px;
  padding-left: 55px;
  width: 260px;
  text-align: left;
  text-decoration: none;

  &:hover {
    color: $color-text-bold;
    background-color: $color-accent;
  }

  &:focus {
    color: $color-text-bold;
  }

  &:active {
    color: $color-text-bold;
  }
}

.main-navigation__link {
  text-decoration: none;
  color: $color-text-bold;
  display: block;
  padding-top: 28px;
  padding-bottom: 27px;
  padding-left: 55px;
}

.main-navigation__wrapper {
  // display: block;
  background-color: $color-white;
  display: block; // Отключение меню в моб. версии
}

.main-navigation__delivery {
  @include fonts($main-font, 15px, 141%, $fontWeight, $color-text-regular);
  font-size: 15px;
  font-weight: 400;
  color: $color-text-regular;
  text-decoration: none;
  display: none;
}

.main-navigation-user-list__icon-search {
  position: absolute;
  content: "";
  left: 15px;
  top: 30px;
}

.main-navigation-user-list__icon-basket {
  position: absolute;
  content: "";
  left: 15px;
  top: 30px;
}
