.main-navigation {
  margin-left: auto;
}

.main-navigation__toggle {
  position: relative;
  width: 20px;
  height: 14px;
  border: none;
  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    top: -65px;
    left: 260px;
    width: 20px;
    height: 2px;
    background-color: $color-text-bold;
    box-shadow: 0 6px 0 0 $color-text-bold;
    transition: all 0.4s cubic-bezier(0.1, 0.82, 0.76, 0.96);
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 65px;
    left: 260px;
    width: 20px;
    height: 2px;
    background-color: $color-text-bold;
    transition: all 0.4s cubic-bezier(0.1, 0.82, 0.76, 0.96);
  }

  &:hover::after {
    top: 15px;
    width: 21px;
    transform: rotate(45deg);
    box-shadow: none;
  }

  &:hover::before {
    top: 5px;
    width: 21px;
    transform: rotate(-45deg);
  }
}

.main-navigation__list {
  @include lists();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.main-navigation__list-item {
  padding-top: 28px;
  padding-bottom: 27px;
  width: 320px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #000000;
    background-color: $color-accent;
  }

  &:focus {
    color: #000000;
  }

  &:active {
    color: #000000;
  }
}

.main-navigation-user-list {
  @include lists();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.main-navigation-user-list__link {
  display: block;
  padding-top: 28px;
  padding-bottom: 27px;
  width: 320px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #000000;
    background-color: $color-accent;
  }

  &:focus {
    color: #000000;
  }

  &:active {
    color: #000000;
  }
}

.main-navigation__link {
  text-decoration: none;
  color: #000000;
}

.main-navigation__wrapper {
  // display: block;
  background-color: $color-white;
  display: block; // Отключение меню в моб. версии
}

.main-navigation__delivery {
  font-size: 15px;
  font-weight: 400;
  color: $color-text-regular;
  text-decoration: none;
}
