.modal {
  position: absolute;
  top: 30%;
  background-color: $color-white;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal--open {
  display: block;
}

.modal--closen {
  display: none;
}
