.modal-form__radio-heading {
  @include fonts($main-font, 15px, 30px, 400);
}

.modal-form__button {
  @include fonts($main-font, 17px, 16px, 700, $color-white);
  background-color: $color-accent;
  border: none;
}

.modal-form__label {
  line-height: 16px;
  color: $color-text-regular;
}
