.product-card {
  border: solid 1px $color-border;
  width: 262px;

  @media (min-width: $tablet-screen) {
    display: grid;
    grid-template-columns: 334px 335px;
    grid-template-rows: 167px 167px;
    width: auto;
  }

  @media (min-width: $desktop-screen) {
    display: flex;
    flex-direction: column;
  }
}

.product-card__link {
  @include fonts($main-font, 17px, 24px, $fontWeightBold, $color-text-bold);
  text-decoration: none;

  @media (min-width: $tablet-screen) {
    grid-row: span 2;
    font-size: 20px;
  }
}

.product-card__item-description {
  @include fonts($main-font, 13px, 30px, $fontWeight, $color-text-regular);
  margin: 0;

  @media (min-width: $tablet-screen) {
    font-size: 15px;
  }
}

.product-card__price {
  @include fonts($main-font, 15px, 24px, $fontWeightBold, $color-text-bold);
  margin: 0;
  font-size: 15px;

  @media (min-width: $tablet-screen) {
    font-size: 17px;
  }
}

.product-card__description {
  padding: 34px 28px 0;

  @media (min-width: $desktop-screen) {
    min-height: 115px;
  }
}

.product-card__cart {
  display: flex;
  justify-content: space-between;
  padding: 0 28px 23px;
  align-items: flex-end;
}

.product-card__button {
  border: none;
  background-color: transparent;
}

.product-card__img {
  @media (min-width: $tablet-screen) {
    width: 334px;
    height: auto;
  }

  @media (min-width: $desktop-screen) {
    width: 316px;
    height: 462px;
  }
}
