.testimonials__list-item {
  display: none;
}

.testimonials__navigation-button--current {
  display: block;
}

.testimonials__navigation-button {
  width: 130px;
  height: 52px;
  background: url("../../img/icons/huge-arrow-left.svg") no-repeat;
  background-position: center center;
  border: 1px solid $color-border;
}

.testimonials__navigation-button--next {
  transform: rotate(180deg);
  border-right: none;
}
