.title {
  @include fonts($main-font, 25px, 30px, $color-text-regular);
  margin: 0;

  @media (min-width: $tablet-screen) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-screen) {
    font-size: 53px;
    line-height: 57px;
  }
}
