// Screen sizes

$mobile-screen: 320px;
$tablet-screen: 768px;
$desktop-screen: 1150px;

// Colours

$color-text-bold: #000000;
$color-text-regular: #444444;

$color-accent: #63d1bb;
$color-accent-light: #59d5bc;
$color-accent-dark: #56c3b2;

$color-interactive-elements: #62d1ba;

$color-links: #46c1ae;
$color-footer-mobile-line: #e5e5e5;
$color-border: #ececec;

$color-modal-border: #c6c6c6;
$color-white: #ffffff;

$color-decoration-wave: #f1f1f1;
$color-decoration-flag-stock: #231f20;
$color-decoration-list-icon: #149080;
$color-decoration-map-letter: #6bc6b3;
$color-background-top-menu: #f9f9f9;

// Fonts

$main-font: "Open Sans", sans-serif;
$fontStyle: normal;
$fontWeight: 400;
$fontWeightBold: 700;
$fontSize: 14px;
